DB_URL=YOUR_URL_DB
DB_USERNAME=YOUR_USERNAME_DB
DB_PASSWORD=YOUR_PASSWORD_DB

## REDIS
REDIS_URL=YOUR_REDIS_URL

## OAUTH
GOOGLE_CLIENT_ID=YOUR_OAUTH_CLIENT_ID
GOOGLE_CLIENT_SECRET=YOUR_OAUTH_CLIENT_SECRET

## EMAIL SENDER
EMAIL_SENDER_ACCOUNT=YOUR_EMAIL
EMAIL_SENDER_PASSWORD=YOUR_PASSWORD_APPLICATION